<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="carousel(data)">
		<!--ThymLeaf Carousel Start-->
		<div class="col-md-12">
			<h2>
				Trending <b>Products</b>
			</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel"
				data-interval="0">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row">
							<!-- wrap 1 item active -->
							<th:block th:each="product, state : ${data}"
								th:if="${state.index} < 4">
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="https://image.ibb.co/g0CAPp/ipad.jpg"
												class="img-responsive img-fluid" alt="" />
										</div>
										<div class="thumb-content">
											<a style="border-style: none;"
												th:href="@{/product/{id}(id=${product.productId})}">
												<p style="font-size:16px;" th:utext="${product.productName}"></p>
											</a>
											<p class="item-price">
												<strike th:utext="${product.listPrice}"></strike> <span
													th:utext="${product.finalPrice}"></span>
											</p>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i>
													</li>
												</ul>
											</div>
											<!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<!-- End active -->

					<!-- Start inactive -->
					<div class="item carousel-item">
						<div class="row">
							<!-- inactive item -->
							<th:block th:each="product, state : ${data}"
								th:if="${state.index} >= 4">
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="https://image.ibb.co/g0CAPp/ipad.jpg"
												class="img-responsive img-fluid" alt="" />
										</div>
										<div class="thumb-content">
											<a style="border-style: none;"
												th:href="@{/product/{id}(id=${product.productId})}">
												<p style="font-size:16px;" th:utext="${product.productName}"></p>
											</a>
											<p class="item-price">
												<strike th:utext="${product.listPrice}"></strike> <span
													th:utext="${product.finalPrice}"></span>
											</p>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star"></i>
													</li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i>
													</li>
												</ul>
											</div>
											<!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
										</div>
									</div>
								</div>
							</th:block>
							<!-- End inactive item -->
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev"
					href="#myCarousel" data-slide="prev"> <i
					class="fa fa-angle-left"></i>
				</a> <a class="carousel-control right carousel-control-next"
					href="#myCarousel" data-slide="next"> <i
					class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
		<!--ThymLeaf Carousel End -->
	</div>
</body>
</html>
