<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="content(data, numOfPage, numberOfPageList, catId)">
		<!--Thymleaf content start -->

		<div class="col-md-12">
			<h2>
				List of <b>Products</b>
			</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel"
				data-interval="0">
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row">
							<!-- Start -->
							<!-- 
                <p th:text="${data} ?: '(No data found)'">
                	<div>
                		Content not found. Comeback to home page.
                		<a href="http://localhost:8080/Training/"> Home page </a>
                	</div> 
                </p>
                 -->

							<th:block th:each="product : ${data}">
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="https://image.ibb.co/g0CAPp/ipad.jpg"
												class="img-responsive img-fluid" alt="" />
										</div>
										<div class="thumb-content">
											<a style="border-style: none;"
												th:href="@{/product/{id}(id=${product.productId})}">
												<p style="font-size: 16px;"
													th:utext="${product.productName}"></p>
											</a>
											<p class="item-price">
												<strike th:utext="${product.listPrice}"></strike> <span
													th:utext="${product.finalPrice}"></span>
											</p>

											<!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
										</div>
									</div>
								</div>
							</th:block>
						</div>
						<!-- Paging -->
						<div th:if="${numberOfPageList} != null">
							<ul class="pagination" style="margin: auto; width: fit-content;">

								<li style="padding: 8px; margin: auto" class="page-item">
									<a class="page-link" th:href="@{/product/list(catId=${catId}, page=1)}" aria-label="First"> 
									<span aria-hidden="true">&laquo;</span> 
									<span class="sr-only">First</span>
								</a></li>
								
								<th:block th:each="i , state : ${numberOfPageList}" >
									<li style="padding: 8px; margin: auto">
										<a th:href="@{/product/list(catId=${catId}, page=${i})}" th:text="${i}"></a>
									</li>
									
									<!-- 
									<li style="padding: 8px; margin: auto"><a href="#">2</a></li>
									<li style="padding: 8px; margin: auto"><a href="#">3</a></li>
									 -->
									
								</th:block>
								
								<li style="padding: 8px; margin: auto" class="page-item">
									<a class="page-link" th:href="@{/product/list(catId=${catId}, page=${numOfPage})}" aria-label="Last"> 
									<span aria-hidden="true">&raquo;</span> 
									<span class="sr-only">Last</span>
								</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- ThymLeaf content end-->
	</div>
</body>
</html>
