<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div th:fragment="header(user)">
      <!--ThymLeaf Header begin-->
      
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="http://localhost:8080/Training/"
            >JWAT Ecommerce</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarsExampleDefault"
          >
            <ul class="navbar-nav m-auto">
              <li class="nav-item m-auto active">
                <a class="nav-link" href="http://localhost:8080/Training/"
                  >Home
                  
                  </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/Training/cart">
                  Cart
                </a>
              </li>
              
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/Training/order">
                  Order
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              
              <li class="nav-item active">
                <a
                  class="nav-link"
                  href="http://localhost:8080/Training/contact">
                  	Contact
                  <span class="sr-only">(current)</span>
                  </a>
              </li>
            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-success btn-sm ml-3" href="cart.html">
                <i class="fa fa-shopping-cart"></i> Cart
                <span class="badge badge-light">3</span>
              </a>
            </form> -->

            <form th:action="@{/product/list}" class="form-inline my-2 my-lg-0">
              <div class="input-group input-group-sm">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm"
                  placeholder="Search..."
                  name="q"
                />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-secondary btn-number">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              <a class="btn btn-success btn-sm ml-3" th:href="@{/cart}">
                <i class="fa fa-shopping-cart"></i> Cart
                <!-- <span class="badge badge-light" th:value="${numberProductInCart}"></span>  -->
              </a>
            </form>

			<th:block th:if="${user} ==null">
				<ul class="navbar-nav ml-auto">
	              <li class="nav-item ml-auto">
	                <a
	                  class="nav-item nav-link"
	                  href="http://localhost:8080/Training/user/login"
	                  >Log in</a
	                >
	              </li>
	               
	             </ul>
			</th:block>
            
            <th:block th:if="${user} !=null">
            	<ul class="navbar-nav ml-auto">
	              <li class="nav-item ml-auto">
		                <a
		                  class="nav-item nav-link"
		                  href="http://localhost:8080/Training/user/profile"
		                  th:text="${user.name}"
		                  ></a
		                >
	              	</li>
	              
	              <li class="nav-item">
	                <a
	                  class="nav-item nav-link"
	                  href="http://localhost:8080/Training/logout"
	                  >Log out</a
	                >
	              </li>
	      
            	</ul>
            </th:block>
            
          </div>
        </div>
      </nav>
      <!--ThymLeaf Header end -->
    </div>
  </body>
</html>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080/Training/"
          >Training Spring MVC</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-item nav-link active"
              href="http://localhost:8080/Training/"
              >Home
              <span class="sr-only">(current)</span>
            </a>

            <a
              class="nav-item nav-link"
              href="http://localhost:8080/Training/contact"
              >Contact</a
            >
            <a class="nav-item nav-link" href="#">Feature2</a>

          </div>

          <div class="navbar-nav ml-auto">
            <a
              class="nav-item nav-link"
              href="http://localhost:8080/Training/user/login"
              >Log in</a
            >
            <a
              class="nav-item nav-link"
              href="http://localhost:8080/Training/logout"
              >Log out</a
            >

            <a
              class="nav-item nav-link"
              href="http://localhost:8080/Training/cart"
            >
              <i
                class="fa fa-cart-arrow-down"
                aria-hidden="true"
                style="margin: auto; font-size: 22px; color: green;"
              ></i>
            </a>
          </div>
        </div>
	  </nav> -->
