<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Check Cart</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" th:href="@{/css/cartDetail.css}" type="text/css" />
  </head>
  <body>
    <div th:replace="fragments/header :: header (user = ${user})">Header</div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">JWAT CART</h1>
      </div>
    </section>

    <div class="container mb-4">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Product</th>
                  <th scope="col">Available</th>

                  <th scope="col" class="text-center">Quantity</th>

                  <th scope="col" class="text-center">Discount</th>
                  <th scope="col" class="text-center">List Price</th>
                  <th scope="col" class="text-center">Final Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- Items -->
                <th:block th:each="cartItem : ${listCartItem}">
                  <tr>
                    <td>
                      <img src="https://dummyimage.com/50x50/55595c/fff" />
                    </td>
                    <td th:text="${cartItem.productName}"></td>
                    <td>In stock</td>
                    <td>
                      <form
                        th:action="@{/cart ( productId=${cartItem.productId} )}"
                        method="POST"
                      >
                        <div style="display: inline-flex;">
                          <input
                          	th:onchange="|enableButtonUpdateOnchange(${cartItem.productId})|"
                            class="form-control"
                            type="number"
                            min="1"
                            max="10"
                            step="1"
                            th:value="${cartItem.quantity}"
                            th:id="'quantity' + ${cartItem.productId}"
                            name="quantity"
                            style="min-width:fit-content;"
                          />
                          <button th:id="'btnUpdate' + ${cartItem.productId}" hidden type="submit" class="btn btn-sm">
                            <i style="font-size:larger;" class="fa fa-check-circle-o"></i>
                          </button>
                        </div>
                      </form>
                    </td>

                    <td
                      style="text-align: center;"
                      th:text="|${cartItem.discountPercent}%|"
                    ></td>
                    <td class="text-right" th:text="${cartItem.listPrice}"></td>
                    <td
                      class="text-right"
                      th:text="${cartItem.finalPrice}"
                    ></td>
                    <td class="text-right">
                      <form th:action="@{/cart/delete ( productId = ${cartItem.productId} )}" method="post">
                        <button class="btn btn-sm btn-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                </th:block>
                <!-- Items -->

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td><strong>Total</strong></td>
                  <td class="text-right">
                    <strong th:text="${totalPrice}"></strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col mb-2">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <form th:action="@{/}">
                <button type="submit" class="btn btn-block btn-light">
                  Continue Shopping
                </button>
              </form>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
              <form th:action="@{/order/create}" method="POST">
                <button
                  type="submit"
                  class="btn btn-lg btn-block btn-success text-uppercase"
                >
                  Checkout
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    
    
    <script th:src="@{/js/cartDetail.js}"></script>
  </body>
  
</html>
