<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Error</title>
  </head>

  <body>
    <p th:utext="${error}"></p>
    
    <ul>
      <th:block th:each="error : ${errors}">
        <li th:utext="${error}"></li>
      </th:block>
    </ul>

    <a href="http://localhost:8080/Training">Back to home page</a>
  </body>
</html>
