<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Home page</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

	<link rel="stylesheet" th:href="@{/css/carousel.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/cartDetail.css}" type="text/css" />
  </head>

  <body>
    <!-- Index Header -->
    <div th:replace="fragments/header :: header (user = ${user})">Header</div>

    <!-- Index Content -->

    <div class="container">
      <!-- Container Carousel -->
      <div
        class="row"
        th:replace="fragments/carousel :: carousel(data=${topTrend})"
      ></div>

      <div class="row">
      
        <div class="col-2" style="background-color: aliceblue;">
          <!-- Container Left Navbar -->
          <div
            th:replace="fragments/leftNavbar :: leftNavbar(data = ${catList})"
          ></div>
        </div>

        <div class="col-10">
          <!-- Search form -->
          <div class="search-container">
            <form th:action="@{/product/list}">
              <input type="text" placeholder="Search..." name="q" />
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>

          <!-- Container Content -->
          <div
            th:replace="fragments/content :: content(
          					data=${listProduct}, 
          					numOfPage=${numOfPage}, 
          					numberOfPageList=${numberOfPageList}, 
          					catId=${catId})"
          ></div>
        </div>
      </div>
    </div>

    <!-- Index Footer -->
    <footer th:replace="fragments/footer :: footer">Footer</footer>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
