<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>List System Users</title>
  </head>

  <body>
    
    <ul>
      <th:block th:each="user : ${userList}">
        <li th:utext="${user.id}"></li>
        
      </th:block>
    </ul>

    <div th:replace="fragments/sideNavbar.html :: sideNavbar(message=${userList})"></div>
    
  </body>
</html>
