<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Order History</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/orderHistory.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/cartDetail.css}" type="text/css" />
  </head>
  
  <body>
   <div th:replace="fragments/header :: header (user = ${user})">Header</div>
  
    <div style="margin-top:50px; margin-bottom:200px" class="p-4">
      <h3>Order Tracking</h3>
      <table class="table table-bordered track_tbl">
        <thead>
          <tr>
            <th></th>
            <th>Order ID</th>
            <th>Status</th>
            <th>Price</th>
            <th>Date/Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <th:block th:each="order : ${orderHistoryList}" th:if="${orderHistoryList} != null"> 
	        <tr class="active">
	            <td class="track_dot"><span class="track_line"></span></td>
	            <td th:text="${order.orderId}" ></td>
	            <td th:if="${order.orderStatus == true}">Order</td>
	            <td th:if="${order.orderStatus == false}">Cancelled</td>
	            <td th:text="${order.orderPrice}"></td>
	            <td th:text="${order.updatedAt}"></td>
	            <td th:if="${order.orderStatus == true}">
		            <form
	                 	th:action="@{/order/cancel ( orderId=${order.orderId} )}"
	                    method="POST"
                     >
                       <div style="display: inline-flex;">
                         <button id="btnDelete" type="submit" class="btn btn-sm">
                           <i style="font-size:larger;" class="fa fa-ban"></i>
                         </button>
                       </div>
                  	</form>
	            </td>
	         </tr>
        </th:block>
          
        </tbody>
      </table>
    </div>
    
    <footer th:replace="fragments/footer :: footer">Footer</footer>
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
