<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:utext="${product.productName}"></title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />

	<link rel="stylesheet" th:href="@{/css/carousel.css}" type="text/css" />

	<link rel="stylesheet" th:href="@{/css/cartDetail.css}" type="text/css" />

</head>

<body>

	<!-- Index Header -->
	<div th:replace="fragments/header :: header (user = ${user})">Header</div>

	<!-- Index Content -->

	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Container Content -->
				<!--           <div th:replace="fragments/productInfo :: productInfo(data=${product})"></div>-->
				<div class="col-md-12">
					<h2>
						<b>Product Info</b>
					</h2>
					<div id="myCarousel" class="carousel slide" data-ride="carousel"
						data-interval="0">
						<!-- Wrapper for carousel items -->
						<div class="carousel-inner">
							<div class="item carousel-item active">
								<div class="row">
									<!-- Start -->

									<div class="col-sm-12">
										<div class="thumb-wrapper">
											<div class="img-box">
												<img src="https://image.ibb.co/g0CAPp/ipad.jpg"
													class="img-responsive img-fluid" alt="" />
											</div>
											<div class="thumb-content">
												<h4 th:utext="${product.productName}"></h4>
												<p class="item-price">
													<strike th:utext="${product.listPrice}"></strike> <span
														th:utext="${product.finalPrice}"></span>
												</p>
												<form th:action="@{/cart(productId=${product.productId})}"
													th:method="post">
													<button type="submit" class="btn btn-primary">Add to Cart</button>
												</form>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Index Footer -->
	<div th:replace="fragments/footer :: footer">Footer</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/productDetail.js}"></script>

</body>
</html>
