<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Profile of user</title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />

    <link rel="stylesheet" th:href="@{/css/profileUser.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/cartDetail.css}" type="text/css" />
  </head>

  <body>
  <div th:replace="fragments/header :: header (user = ${user})">Header</div>

    <div class="container emp-profile">
      <div class="row">
        <div class="col-md-4">
           <form
              method="POST"
              action="/Training/user/change-avatar"
              enctype="multipart/form-data"
            >
	          <div class="profile-img">
	            <img
	              th:src="${avatar}"
	              alt=""
	              class="avatar"
	            />
	            <div class="file btn btn-lg btn-primary">
							Change Photo
							<input type="file" name="file" onchange="avatarChange();"/><br/>
				</div>
	          </div>
	           <input id="btnConfirmAvatar" disabled type="submit" value="Confirm change" style="display:block; margin:auto;"/> 
            </form>
             
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5 th:utext="${user.name}"></h5>
            <h6>Web Developer and Designer</h6>
            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >About</a
                >
              </li>
              <!--
			       <li class="nav-item">
			       <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
			       </li>
              -->
            </ul>
          </div>
        </div>
        
      </div>
      <div class="row">
        
        <div class="col-md-4">
        </div>
        
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <!-- Start form -->
            <form action="#" th:object="${user}" method="post">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="row">
                  <div class="col-md-6">
                    <label>User Id</label>
                  </div>
                  <div class="col-md-6">
                    <input
                      disabled
                      type="text"
                      id="id"
                      name="id"
                      th:value="${user.id}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Name</label>
                  </div>
                  <div class="col-md-6">
                    <input
                      disabled
                      type="text"
                      id="name"
                      name="name"
                      th:value="${user.name}"
                      th:field="*{name}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <input
                      disabled
                      type="text"
                      id="email"
                      name="email"
                      th:value="${user.email}"
                      th:field="*{email}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Phone</label>
                  </div>
                  <div class="col-md-6">
                    <p>123 456 7890</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Profession</label>
                  </div>
                  <div class="col-md-6">
                    <p>Web Developer and Designer</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Avatar</label>
                  </div>
                  <div class="col-md-6">
                    <input
                      disabled
                      type="text"
                      id="email"
                      name="email"
                      th:value="${user.avatar}"
                    />
                  </div>
                </div>

                <div class="form-group" style="margin-top: 20px;">
                  <input
			            class="btn"
			            name="btnEdit"
			            id="btnEdit"
			            onClick="editUser()"
			            value="Edit"
			            style="width:60px; background-color: #53a7cd;"
			            ></input>
                  <input
                    disabled
                    type="submit"
                    id="submit"
                    name="submit"
                    class="btn btn-primary login-button"
                    value="Submit"
                  />
                </div>
                
              </div>
            </form>
            <!-- End form -->

            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div class="row">
                <div class="col-md-6">
                  <label>Experience</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Hourly Rate</label>
                </div>
                <div class="col-md-6">
                  <p>10$/hr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Total Projects</label>
                </div>
                <div class="col-md-6">
                  <p>230</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>English Level</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Availability</label>
                </div>
                <div class="col-md-6">
                  <p>6 months</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Your Bio</label><br />
                  <p>Your detail description</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
	<footer th:replace="fragments/footer :: footer">Footer</footer>
	
    <script>
      var editUser = function () {
        document.getElementById("email").disabled = false;
        document.getElementById("name").disabled = false;
        document.getElementById("submit").disabled = false;
        document.getElementById("btnEdit").disabled = true;
      };
      
      function avatarChange(){
    	  document.getElementById("btnConfirmAvatar").disabled = false;
      }
    </script>
    
   
  </body>
</html>
